@import "tailwindcss";
@theme  {
  --font-display: "Satoshi", "sans-serif";

  --color-primary-neutral-50: #FEFEFE;
  --color-primary-neutral-100: #fbfbfb;
  --color-primary-neutral-200: #f9f9f9;
  --color-primary-neutral-300: #f7f7f7; 
  --color-primary-neutral-400: #f5f5f5;
  --color-primary-neutral-500: #f3f3f3;
  --color-primary-neutral-600: #dddddd;
  --color-primary-neutral-700: #adadad;
  --color-primary-neutral-800: #868686;
  --color-primary-neutral-900: #666666;

  /* Primary Colors - Warm */
  --color-primary-warm-50: #fafaf5;
  --color-primary-warm-100: #f5f0e0;
  --color-primary-warm-200: #ede0c2;
  --color-primary-warm-300: #e0cc99;
  --color-primary-warm-400: #d1b36b;
  --color-primary-warm-500: #c49a42;
  --color-primary-warm-600: #a6803c;
  --color-primary-warm-700: #856633;
  --color-primary-warm-800: #664d29;
  --color-primary-warm-900: #47331a;

  /* Primary Colors - Cool */
  --color-primary-cool-50: #f8f7fe;
  --color-primary-cool-100: #e9e7fb;
  --color-primary-cool-200: #dedcf9;
  --color-primary-cool-300: #cfcbf6;
  --color-primary-cool-400: #c6c1f5;
  --color-primary-cool-500: #b8b2f2;
  --color-primary-cool-600: #a7a2dc;
  --color-primary-cool-700: #837eac;
  --color-primary-cool-800: #656285;
  --color-primary-cool-900: #4d4b66;

  /* Secondary Colors - Orange */
  --color-secondary-orange-50: #fff9f5;
  --color-secondary-orange-100: #ffede0;
  --color-secondary-orange-200: #ffdcc2;
  --color-secondary-orange-300: #ffc299;
  --color-secondary-orange-400: #ffa36b;
  --color-secondary-orange-500: #ff8042;
  --color-secondary-orange-600: #d9693c;
  --color-secondary-orange-700: #b35233;
  --color-secondary-orange-800: #8c3d29;
  --color-secondary-orange-900: #66291a;

  /* Secondary Colors - Blue */
  --color-secondary-blue-50: #f5f7ff;
  --color-secondary-blue-100: #e0e8ff;
  --color-secondary-blue-200: #c2d1ff;
  --color-secondary-blue-300: #99b3ff;
  --color-secondary-blue-400: #6b8fff;
  --color-secondary-blue-500: #4267ff;
  --color-secondary-blue-600: #3c56d9;
  --color-secondary-blue-700: #3347b3;
  --color-secondary-blue-800: #29358c;
  --color-secondary-blue-900: #1a2366;

  /* Neutral Colors - Black */
  --color-neutral-black-50: #eaebec;
  --color-neutral-black-100: #bfc1c3;
  --color-neutral-black-200: #a0a3a7;
  --color-neutral-black-300: #75797e;
  --color-neutral-black-400: #5a5f65;
  --color-neutral-black-500: #31373f;
  --color-neutral-black-600: #2d3239;
  --color-neutral-black-700: #23272d;
  --color-neutral-black-800: #1b1e23;
  --color-neutral-black-900: #15171a;

  /* Neutral Colors - Dark Blue */
  --color-neutral-dark-blue-50: #e8e8ea;
  --color-neutral-dark-blue-100: #b7b8bc;
  --color-neutral-dark-blue-200: #95959c;
  --color-neutral-dark-blue-300: #64656f;
  --color-neutral-dark-blue-400: #464753;
  --color-neutral-dark-blue-500: #181928;
  --color-neutral-dark-blue-600: #161724;
  --color-neutral-dark-blue-700: #11121C;
  --color-neutral-dark-blue-800: #0D0E16;
  --color-neutral-dark-blue-900: #0A0B11;

  /* Functional Colors - Success */
  --color-functional-success-50: #f5faf7;
  --color-functional-success-100: #e0f5e9;
  --color-functional-success-200: #c2edcf;
  --color-functional-success-300: #99e0ad;
  --color-functional-success-400: #6bd18b;
  --color-functional-success-500: #42c46a;
  --color-functional-success-600: #3ca65b;
  --color-functional-success-700: #33854a;
  --color-functional-success-800: #29663a;
  --color-functional-success-900: #1a4726;

  /* Functional Colors - Warning */
  --color-functional-warning-50: #fffaf5;
  --color-functional-warning-100: #fff5e0;
  --color-functional-warning-200: #ffedc2;
  --color-functional-warning-300: #ffe099;
  --color-functional-warning-400: #ffd16b;
  --color-functional-warning-500: #ffc042;
  --color-functional-warning-600: #d9a13c;
  --color-functional-warning-700: #b38333;
  --color-functional-warning-800: #8c6629;
  --color-functional-warning-900: #66471a;

  /* Functional Colors - Error */
  --color-functional-error-50: #fff5f5;
  --color-functional-error-100: #ffe0e0;
  --color-functional-error-200: #ffc2c2;
  --color-functional-error-300: #ff9999;
  --color-functional-error-400: #ff6b6b;
  --color-functional-error-500: #ff4242;
  --color-functional-error-600: #d93c3c;
  --color-functional-error-700: #b33333;
  --color-functional-error-800: #8c2929;
  --color-functional-error-900: #661a1a;


  /* spacing Variables  */
  --spacing-none: 0;
  --spacing-xs: 0.25rem;    /* 4px */
  --spacing-sm: 0.5rem;     /* 8px */
  --spacing-md: 1rem;       /* 16px */
  --spacing-lg: 1.5rem;     /* 24px */
  --spacing-xl: 2rem;       /* 32px */
  --spacing-2xl: 2.5rem;    /* 40px */
  --spacing-3xl: 3rem;      /* 48px */
  --spacing-4xl: 4rem;      /* 64px */
  --spacing-5xl: 6rem;      /* 96px */
  --spacing-6xl: 8rem;      /* 128px */


  --rounded-sm: 0.25rem;
  --rounded-md: 0.5rem;
  --rounded-lg: 1.5rem;
  --rounded-xl: 2rem;
  --rounded-2xl: 2.5rem;
  --rounded-3xl: 3rem;
  --rounded-6xl: 6.25rem;

  --text-display: 4.75rem;    /* 76px */
  --text-h1: 3.812rem;        /* 61px */
  --text-h2: 3.062rem;
  --text-h3: 2.438rem;        /* 39px */
  --text-h4: 1.938rem;        /* 31px */
  --text-h5: 1.562rem;        /* 25px */
  --text-subtitle: 1.25rem;   /* 20px */
  --text-body1: 1rem;         /* 16px */
  --text-body2: 0.812rem;     /* 13px */
  --text-caption1: 0.625rem;  /* 10px */
  --text-caption2: 0.5rem;    /* 8px */

  /* Typography - Line Heights */
  --leading-display: 5.75rem;  /* 92px */
  --leading-h1: 4.625rem;      /* 74px */
  --leading-h2: 3.75rem;       /* 60px */
  --leading-h3: 3rem;          /* 48px */
  --leading-h4: 2.375rem;      /* 38px */
  --leading-h5: 1.938rem;      /* 31px */
  --leading-subtitle: 1.562rem; /* 25px */
  --leading-body1: 1.25rem;    /* 20px */
  --leading-body2: 1rem;       /* 16px */
  --leading-caption1: 0.75rem; /* 12px */
  --leading-caption2: 0.625rem;
}



